@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   zuEuz Tecnologia e Negócios Ltda - ME<br />
    Sorocaba, SP, Brazil<br />
    <abbr title="Skype">zueuzmainline</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@zueuz.com">support@zueuz.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sales@example.com">sales@zueuz.com</a>
</address>